{% extends "base.html" %}
{% block title %}index.html{% endblock %}
{% block body %}
    <h2>LeetCode Problems</h2>
    <a href="../readme.md">readme.md</a>
    <h3>Easy</h3>
    <ul>{% for problem_num in easy %}<li><a href="/solutions/{{ problem_num }}.html">{{ problem_num | safe }}</a></li>{% endfor%}</ul>
    <h3>Medium</h3>
    <ul>{% for problem_num in medium %}<li><a href="/solutions/{{ problem_num }}.html">{{ problem_num | safe }}</a></li>{% endfor%}</ul>
    <h3>Hard</h3>
    <ul>{% for problem_num in hard %}<li><a href="/solutions/{{ problem_num }}.html">{{ problem_num | safe }}</a></li>{% endfor%}</ul>
{% endblock %}
