{% extends "base.html" %}
{% block head %}
    <link href="{{url_for('static', filename='prism.css')}}" rel="stylesheet" />
{% endblock %}
{% block title %}
Problem {{ num | safe }}
{% endblock %}
{% block body %}
    <h3>Problem Description Link</h3>
    <ul><li><a href="https://leetcode.com/problems/{{ name }}">LeetCode Link (Problem {{ num }})</a></li></ul>
    <h3>Problem Code</h3>
    <pre><code class="language-python">{{ code }}</code></pre>
    <script src="{{url_for('static', filename='prism.js')}}"></script>
{% endblock %}
